<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="listHeader" class="row g-4">
<!--  <div class="col-sm-2 col-6 d-flex justify-content-center align-content-center">-->
<!--    <i class="bi bi-person-bounding-box text-success fs-4"></i>-->
<!--    <div class="ms-3 ">-->
<!--      <h6 class="mb-0">신청인</h6>-->
<!--    </div>-->
<!--  </div>-->

  <div class="col-sm-12 col-6">
    <div class="row g-2">

      <div class="col-sm">
        <div class="d-flex justify-content-center">
          <i class="bi bi-truck text-warning fs-4"></i>
          <div class="ms-3">
            <h6 class="mb-0" >보내는곳</h6>
          </div>
        </div>
      </div>

      <div class="col-sm">
        <div class="d-flex justify-content-center">
          <i class="fa-solid bi-map-fill text-success fs-4"></i>
          <div class="ms-3">
            <h6 class="mb-0">받는 곳</h6>
          </div>
        </div>
      </div>

      <div class="col-sm">
        <div class="d-flex justify-content-center">
          <i class="fa-solid bi-currency-dollar text-primary fs-4"></i>
          <div class="ms-3">
            <h6 class="mb-0">희망가</h6>
          </div>
        </div>
      </div>

      <div class="col-sm">
        <div class="d-flex justify-content-center">
          <i class="fa-solid bi-box text-black"></i>
          <div class="ms-3">
            <h6 class="mb-0">물품</h6>
          </div>
        </div>
      </div>

      <div class="col-sm">
        <div class="d-flex justify-content-center">
          <i class="fa-solid bi-calendar-date-fill text-black"></i>
          <div class="ms-3">
            <h6 class="mb-0">상태</h6>
          </div>
        </div>
      </div>

      <div class="col-sm">
        <div class="d-flex justify-content-center">
          <i class="fa-solid bi-calendar-date-fill text-black"></i>
          <div class="ms-3">
            <h6 class="mb-0">평점 매기기</h6>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
